<!--header-->
    <div class="header">
    	<div class="wrap">
        	<div class="navbar navbar_ clearfix">
            	<div class="container">
                    <div class="row">
                        <div class="span4">
                        	<div class="logo"><a href="{{ path('homepage' )}}"><img src="{{ asset('bundles/app/img/logo.png') }}" alt="" /></a></div>
                        </div>
                        <div class="span8">
                        	<div class="follow_us">
                                <ul>
                                    <li><a href="https://www.facebook.com/groups/1774992249441004/?fref=ts" class="facebook">Facebook</a></li>
                                    <li><a href="#" class="vimeo">Vimeo</a></li>
                                    <li><a href="#" class="tumbrl">Tumbrl</a></li>
                                    <li><a href="#" class="twitter">Twitter</a></li>
                                    <li><a href="#" class="delicious">Delicious</a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <nav id="main_menu">
                                <div class="menu_wrap">
                                    <ul class="nav sf-menu">
                                      <li class="current"><a href="{{ path('homepage' )}}">Home</a></li>
                                      <li><a href="{{ path('new_project') }}">Create Project</a></li>
                                      <li><a href="{{ path('repositories') }}">Project List </a></li>
                                      <li><a href="{{ path('contact' ) }}">Contacts</a></li>
                                    </ul>
                                </div>
                             </nav>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!--//header-->